.backtotop
{
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 0 0 5px 0;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  -webkit-appearance: none;
  color: #ffffff;
  width: 100px;
  text-align: center;
  margin: 0 0 0 -50px;
  cursor: pointer;
  display: none;

  &::before
  {
    z-index: -1;
    display: block;
    content: ' ';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 2px;
    left: 0;
    transform: rotate(45deg);
    background: #000000;
  }
}
