.faq
{
  position: relative;
  margin: 0 0 30px -460px;
  width: 920px;
  left: 50%;
  padding: 0 15px 50px 15px;
  box-sizing: border-box;

  h2
  {
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 30px 0;
  }

  h3
  {
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    margin: 0 0 10px 0;
  }

  p
  {
    color: #343434;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 30px 0;
    text-align: justify;
  }
}
