.faq
{
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 960px;
  padding: 0 30px 30px 30px;
  box-sizing: border-box;

  @media screen and (max-width: 960px) {
    padding: 0 30px 20px 30px;
  }

  @media screen and (max-width: 700px) {
    padding: 0 20px 10px 20px;
  }

  h2
  {
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 30px 0;

    @media screen and (max-width: 960px) {
      font-size: 20px;
    }
  }

  h3
  {
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    margin: 0 0 10px 0;

    @media screen and (max-width: 960px) {
      font-size: 15px;
    }
  }

  p
  {
    color: #343434;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 30px 0;
    text-align: justify;

    @media screen and (max-width: 960px) {
      font-size: 13px;
    }

    a,
    a:visited
    {
      font-size: inherit;
      text-decoration: none;
      border-bottom: 1px solid #343434;
    }
  }
}
