.filters
{
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 960px;
  padding: 0 30px 30px 30px;
  box-sizing: border-box;

  @media screen and (max-width: 700px) {
    padding: 0 20px 20px 20px;
  }

  .search
  {
    position: relative;
    z-index: 1;
    float: right;
    width: 250px;
    height: 32px;
    -webkit-appearance: none;
    border-radius: 3px;
    border: 1px solid #343434;
    text-indent: 5px;
    font-size: 13px;
    box-sizing: border-box;

    @media screen and (max-width: 570px) {
      float: none;
      width: 100%;
      margin: 0 0 10px 0;
    }
  }

  .search-icon
  {
    position: absolute;
    z-index: 2;
    width: 16px;
    top: 8px;
    right: 40px;

    @media screen and (max-width: 700px) {
      right: 30px;
    }
  }

  .sort
  {
    position: relative;
    display: block;
    z-index: 1;
    width: 250px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #343434;
    font-size: 13px;
    box-sizing: border-box;

    @media screen and (max-width: 570px) {
      width: 100%;
    }

    .label
    {
      padding: 0 5px 0 5px;
      line-height: 34px;
      font-size: 13px;
    }

    .sort-icon
    {
      position: absolute;
      z-index: 1;
      width: 14px;
      top: 8px;
      right: 10px;
    }

    select
    {
      position: absolute;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      -webkit-appearance: none;
    }
  }
}
