.footer
{
  position: relative;
  margin: 0 0 20px 0;
  width: 100%;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  text-align: center;
  color: #343434;
  font-size: 15px;
  line-height: 20px;

  @media screen and (max-width: 960px) {
    font-size: 13px;
  }

  a,
  a:visited
  {
    font-size: inherit;
    text-decoration: none;
    border-bottom: 1px solid #343434;
  }
}
