.items
{
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0 15px 30px 15px;
  max-width: 960px;
  vertical-align: top;
  font-size: 0;
  box-sizing: border-box;

  @media screen and (max-width: 960px) {
    padding: 0 10px 10px 10px;
  }

  @media screen and (max-width: 700px) {
    padding: 0 10px 10px 10px;
  }

  .noresults
  {
    text-align: center;
    padding: 40px 0 40px 0;
    margin: 0 15px 30px 15px;
    font-size: 15px;
    color: #343434;
    background: #efefef;
    border-radius: 3px;
    display: none;
  }

  .item
  {
    vertical-align: top;
    width: 25%;
    display: inline-block;
    padding: 0 15px 30px 15px;
    overflow: hidden;
    box-sizing: border-box;
    color: #000000;

    @media screen and (max-width: 700px) {
      width: 33.33%;
      padding: 0 10px 20px 10px;
    }

    @media screen and (max-width: 570px) {
      width: 50%;
    }

    .pic-wrapper
    {
      display: block;
      background: #efefef;
      border-radius: 3px;
      overflow: hidden;

      .pic
      {
        display: block;
        width: 100%;
        transition: opacity 500ms;
      }

      .pic.js-lazy-hidden
      {
        opacity: 0;
      }
    }

    .info
    {
      padding: 10px 0 0 0;
      line-height: 22px;

      @media screen and (max-width: 960px) {
        line-height: 20px;
      }
    }

    .brand,
    .brand:visited
    {
      display: block;
      color: #9c9c9c;
      font-size: 13px;
      text-decoration: none;
    }

    .name
    {
      display: block;
      font-size: 15px;

      @media screen and (max-width: 960px) {
        font-size: 13px;
      }
    }

    .price
    {
      display: block;
      color: #9c9c9c;
      font-size: 15px;

      @media screen and (max-width: 960px) {
        font-size: 13px;
      }
    }
  }
}
