html, body, div, h1, h2, h3, h4, span, p, ul, li, a, img, input
{
  margin: 0;
  border: 0;
  font-family: "Courier New", Courier, Arial, Helvetica, sans-serif;
  color: #343434;
  font-size: 15px;
}

.topbar
{
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 16px;
}

.topbar h1
{
  display: inline-block;
  margin: 0 0 0 40px;
  font-weight: bold;
  font-size: 20px;
}

.topbar ul
{
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 40px;
}

.topbar ul li
{
  display: inline-block;
  margin: 0 0 0 20px;
}

.topbar ul li a,
.topbar ul li a:visited
{
  text-decoration: none;
  color: #343434;
  font-size: 16px;
}

.topbar ul li.current a
{
  border-bottom: 1px solid #343434;
}

.main
{
  position: relative;
  margin: 60px 0 30px -485px;
  width: 1000px;
  left: 50%;
}

.main .filters
{
  position: relative;
  width: 100%;
  height: 34px;
  margin: 0 0 30px 0;
  padding: 0 30px 0 0;
  box-sizing: border-box;
}

.main .filters .search
{
  position: relative;
  z-index: 1;
  float: right;
  width: 250px;
  height: 32px;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 1px solid #343434;
  text-indent: 5px;
  font-size: 13px;
}

.main .filters .search-icon
{
  position: absolute;
  z-index: 2;
  width: 16px;
  top: 10px;
  right: 40px;
}

.main .item
{
  width: 220px;
  display: block;
  float: left;
  margin: 0 30px 30px 0;
  overflow: hidden;
  color: #000000;
}

.main .item .pic
{
  display: block;
  width: 100%;
  border-radius: 3px;
}

.main .item .info
{
  padding: 10px 0 0 0;
  line-height: 22px;
}

.main .item .brand,
.main .item .brand:visited
{
  display: block;
  color: #9c9c9c;
  font-size: 13px;
  text-decoration: none;
}

.main .item .model
{
  display: block;
  font-size: 15px;
}

.main .item .price
{
  display: block;
  color: #9c9c9c;
}

.faq
{
  max-width: 970px;
  padding: 60px 40px 0 40px;
  margin: 0 auto 0 auto;
  font-size: 15px;
}

.faq h2
{
  color: #000000;
  font-weight: bold;
  font-size: 17px;
  margin: 0 0 10px 0;
}

.faq p
{
  color: #343434;
  line-height: 20px;
  margin: 0 0 30px 0;
  text-align: justify;
}
