html, body, div, h1, h2, h3, h4, span, p, ul, li, a, img, input, svg, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Courier New", Courier, Arial, Helvetica, sans-serif;
  color: #343434;
  font-size: 15px; }

.main {
  position: relative;
  margin: 0 0 30px -460px;
  width: 920px;
  left: 50%; }

.topbar {
  position: relative;
  width: 100%;
  font-size: 16px;
  padding: 30px 30px 90px 30px;
  box-sizing: border-box;
  text-align: right; }
  @media screen and (max-width: 960px) {
    .topbar {
      padding: 30px 30px 70px 30px; } }
  @media screen and (max-width: 700px) {
    .topbar {
      padding: 30px 20px 40px 20px; } }
  @media screen and (max-width: 570px) {
    .topbar {
      text-align: center;
      padding: 30px 20px 35px 20px; } }
  .topbar h1 {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    margin: -7px 0 0 0; }
    @media screen and (max-width: 570px) {
      .topbar h1 {
        position: relative;
        margin: 0 0 30px 0; } }
    .topbar h1 span {
      display: block;
      font-size: 12px;
      font-weight: normal;
      color: #9c9c9c; }
  .topbar ul {
    list-style-type: none; }
    .topbar ul li {
      display: inline-block;
      margin: 0 0 0 20px; }
      @media screen and (max-width: 570px) {
        .topbar ul li {
          margin: 0 10px 0 10px; } }
    .topbar ul li a,
    .topbar ul li a:visited {
      text-decoration: none;
      color: #343434;
      font-size: 16px; }
    .topbar ul li.current a {
      border-bottom: 1px solid #343434; }

.filters {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 960px;
  padding: 0 30px 30px 30px;
  box-sizing: border-box; }
  @media screen and (max-width: 700px) {
    .filters {
      padding: 0 20px 20px 20px; } }
  .filters .search {
    position: relative;
    z-index: 1;
    width: 240px;
    float: right; }
    @media screen and (max-width: 570px) {
      .filters .search {
        float: none;
        width: 100%;
        margin: 0 0 10px 0; } }
    .filters .search input {
      width: 100%;
      height: 32px;
      -webkit-appearance: none;
      border-radius: 3px;
      border: 1px solid #343434;
      text-indent: 5px;
      font-size: 13px;
      box-sizing: border-box; }
    .filters .search .icon {
      position: absolute;
      z-index: 2;
      width: 16px;
      top: 8px;
      right: 10px; }
  .filters .count {
    display: block;
    position: absolute;
    top: 0;
    right: 285px;
    font-size: 13px;
    line-height: 34px;
    color: #9c9c9c; }
    @media screen and (max-width: 700px) {
      .filters .count {
        right: 275px; } }
    @media screen and (max-width: 570px) {
      .filters .count {
        position: relative;
        right: auto;
        text-align: right;
        line-height: normal; } }
  .filters .sort {
    position: relative;
    display: block;
    z-index: 1;
    width: 195px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #343434;
    font-size: 13px;
    box-sizing: border-box; }
    @media screen and (max-width: 570px) {
      .filters .sort {
        width: 100%;
        margin: 0 0 10px 0; } }
    .filters .sort .label {
      padding: 0 5px 0 5px;
      line-height: 32px;
      font-size: 13px; }
    .filters .sort .sort-icon {
      position: absolute;
      z-index: 1;
      width: 12px;
      top: 10px;
      right: 10px; }
    .filters .sort select {
      position: absolute;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      -webkit-appearance: none; }

.items {
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0 15px 30px 15px;
  max-width: 960px;
  vertical-align: top;
  font-size: 0;
  box-sizing: border-box; }
  @media screen and (max-width: 960px) {
    .items {
      padding: 0 15px 10px 15px; } }
  @media screen and (max-width: 700px) {
    .items {
      padding: 0 10px 10px 10px; } }
  .items .noresults {
    text-align: center;
    padding: 40px 0 40px 0;
    margin: 0 15px 30px 15px;
    font-size: 15px;
    color: #343434;
    background: #efefef;
    border-radius: 3px;
    display: none; }
    @media screen and (max-width: 960px) {
      .items .noresults {
        font-size: 13px; } }
    @media screen and (max-width: 700px) {
      .items .noresults {
        padding: 30px 0 30px 0; } }
  .items .item {
    vertical-align: top;
    width: 25%;
    display: inline-block;
    padding: 0 15px 30px 15px;
    overflow: hidden;
    box-sizing: border-box;
    color: #000000; }
    @media screen and (max-width: 700px) {
      .items .item {
        width: 33.33%;
        padding: 0 10px 20px 10px; } }
    @media screen and (max-width: 570px) {
      .items .item {
        width: 50%; } }
    .items .item .pic-wrapper {
      position: relative;
      display: block;
      background: #efefef;
      border-radius: 3px;
      overflow: hidden; }
      .items .item .pic-wrapper .pic {
        display: block;
        width: 100%;
        transition: opacity 500ms; }
      .items .item .pic-wrapper .pic.js-lazy-hidden {
        opacity: 0; }
    .items .item.item-new .pic-wrapper:after {
      position: absolute;
      top: 100%;
      margin: -38px 0 0 -70px;
      left: 100%;
      transform: rotate(-45deg);
      font-size: 13px;
      letter-spacing: 2px;
      padding: 8px 50px 40px 50px;
      background: #000;
      display: block;
      color: #fff;
      content: 'NEW';
      transition: margin 250ms; }
      .items .item.item-new .pic-wrapper:after:hover {
        margin: -45px 0 0 -77px; }
    .items .item .info {
      padding: 10px 0 0 0;
      line-height: 22px; }
      @media screen and (max-width: 960px) {
        .items .item .info {
          line-height: 20px; } }
    .items .item .brand,
    .items .item .brand:visited {
      display: block;
      color: #9c9c9c;
      font-size: 13px;
      text-decoration: none; }
    .items .item .name {
      display: block;
      font-size: 15px; }
      @media screen and (max-width: 960px) {
        .items .item .name {
          font-size: 13px; } }
    .items .item .price {
      display: block;
      color: #9c9c9c;
      font-size: 15px; }
      @media screen and (max-width: 960px) {
        .items .item .price {
          font-size: 13px; } }

.faq {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 960px;
  padding: 0 30px 30px 30px;
  box-sizing: border-box; }
  @media screen and (max-width: 960px) {
    .faq {
      padding: 0 30px 20px 30px; } }
  @media screen and (max-width: 700px) {
    .faq {
      padding: 0 20px 10px 20px; } }
  .faq h2 {
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 30px 0; }
    @media screen and (max-width: 960px) {
      .faq h2 {
        font-size: 20px; } }
  .faq h3 {
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    margin: 0 0 10px 0; }
    @media screen and (max-width: 960px) {
      .faq h3 {
        font-size: 15px; } }
  .faq p {
    color: #343434;
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 30px 0;
    text-align: justify; }
    @media screen and (max-width: 960px) {
      .faq p {
        font-size: 13px; } }
    .faq p a,
    .faq p a:visited {
      font-size: inherit;
      text-decoration: none;
      border-bottom: 1px solid #343434; }

.links {
  position: relative;
  margin: 0 auto 0 auto;
  max-width: 960px;
  padding: 0 30px 30px 30px;
  box-sizing: border-box; }
  @media screen and (max-width: 960px) {
    .links {
      padding: 0 30px 20px 30px; } }
  @media screen and (max-width: 700px) {
    .links {
      padding: 0 20px 10px 20px; } }
  .links h2 {
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 30px 0; }
    .links h2 em {
      display: block;
      color: #343434;
      font-size: 12px;
      line-height: 20px;
      margin: 0 0 20px 0;
      text-align: justify;
      font-style: italic;
      font-weight: normal; }
    @media screen and (max-width: 960px) {
      .links h2 {
        font-size: 20px; } }
  .links h3 {
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    margin: 0 0 10px 0; }
    @media screen and (max-width: 960px) {
      .links h3 {
        font-size: 15px; } }
  .links ul {
    list-style-type: none;
    margin: 0 0 30px 0; }
    .links ul li {
      color: #343434;
      font-size: 15px;
      line-height: 20px; }
      @media screen and (max-width: 960px) {
        .links ul li {
          font-size: 13px; } }
      .links ul li a,
      .links ul li a:visited {
        font-size: inherit;
        text-decoration: none;
        border-bottom: 1px solid #343434; }

.footer {
  position: relative;
  margin: 0 0 60px 0;
  width: 100%;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
  text-align: center;
  color: #343434;
  font-size: 15px;
  line-height: 20px; }
  @media screen and (max-width: 960px) {
    .footer {
      font-size: 13px; } }
  .footer a,
  .footer a:visited {
    font-size: inherit;
    text-decoration: none;
    border-bottom: 1px solid #343434; }

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version 1.8.2
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease; }

#baguetteBox-overlay.visible {
  opacity: 1; }

#baguetteBox-overlay .full-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; }

#baguetteBox-overlay .full-image figure {
  display: inline;
  margin: 0;
  height: 100%; }

#baguetteBox-overlay .full-image img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

#baguetteBox-overlay .full-image figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 5px 10px 5px;
  font-size: 13px;
  white-space: normal;
  color: #ececec;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6); }

#baguetteBox-overlay .full-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px; }

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left .4s ease, -webkit-transform .4s ease;
  transition: left .4s ease, -webkit-transform .4s ease;
  transition: left .4s ease, transform .4s ease;
  transition: left .4s ease, transform .4s ease, -webkit-transform .4s ease, -moz-transform .4s ease; }

#baguetteBox-slider.bounce-from-right {
  -webkit-animation: bounceFromRight .4s ease-out;
  animation: bounceFromRight .4s ease-out; }

#baguetteBox-slider.bounce-from-left {
  -webkit-animation: bounceFromLeft .4s ease-out;
  animation: bounceFromLeft .4s ease-out; }

@-webkit-keyframes bounceFromRight {
  0% {
    margin-left: 0; }
  50% {
    margin-left: -30px; }
  100% {
    margin-left: 0; } }

@keyframes bounceFromRight {
  0% {
    margin-left: 0; }
  50% {
    margin-left: -30px; }
  100% {
    margin-left: 0; } }

@-webkit-keyframes bounceFromLeft {
  0% {
    margin-left: 0; }
  50% {
    margin-left: 30px; }
  100% {
    margin-left: 0; } }

@keyframes bounceFromLeft {
  0% {
    margin-left: 0; }
  50% {
    margin-left: 30px; }
  100% {
    margin-left: 0; } }

.baguetteBox-button#next-button, .baguetteBox-button#previous-button {
  top: 50%;
  top: calc(50% - 30px);
  width: 40px;
  height: 60px; }

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ddd;
  font: 1.6em sans-serif; }

.baguetteBox-button#next-button {
  right: 0; }

.baguetteBox-button#previous-button {
  left: 0; }

.baguetteBox-button#close-button {
  top: 0;
  right: 0;
  width: 40px;
  height: 40px; }

.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0; }

.baguetteBox-button#close-button svg {
  position: absolute;
  left: 5px;
  top: 5px; }

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px; }

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out; }

.baguetteBox-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.backtotop {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 0 0 5px 0;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  -webkit-appearance: none;
  color: #ffffff;
  width: 100px;
  text-align: center;
  margin: 0 0 0 -50px;
  cursor: pointer;
  display: none; }
  .backtotop::before {
    z-index: -1;
    display: block;
    content: ' ';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 2px;
    left: 0;
    transform: rotate(45deg);
    background: #000000; }
